:root {
    --primary-dark:#1F2937;
    --primary-color:rgba(21, 221, 21, 0.452);
}
body{
    background-color: var(--primary-dark);
    display:flexbox;
    margin:auto;
    color:var(--primary-color)
}
.container{
    text-align: center;
    display:block;
    margin:  2rem;
    padding: 1rem;
    display: grid;
}
input{
    width: 30%;
}
label{
    display:block;
}
button{
    margin-top:1rem;
    background :transparent


}